#moon1 {
    width: 10%;
    height: auto;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
}
#moon2 {
    width: 9%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
#moon3 {
    width: 11%;
    height: auto;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%, -50%);
}
#moon4 {
    width: 5%;
    height: auto;
    position: absolute;
    left: 40%;
    top: 25%;
    transform: translate(-50%, -50%);
}
#moon5 {
    width: 5%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}
#moon6 {
    width: 7%;
    height: auto;
    position: absolute;
    left: 60%;
    top: 25%;
    transform: translate(-50%, -50%);
}
#moon7 {
    width: 15%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 65%;
    transform: translate(-50%, -50%);
}
#moon8 {
    width: 14%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
#moon9 {
    width: 16%;
    height: auto;
    position: absolute;
    left: 80%;
    top: 65%;
    transform: translate(-50%, -50%);
}
#background {
    background-color: white;
}
#tekst {
    color: black;
}
#button-change-color {
   background-color: white;
   background: linear-gradient(to bottom right, red, #174386);  
   cursor:crosshair;
   position: absolute; 
   top: 85%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}
#overskrift1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    line-height: 10px;
    opacity: 60%;
}
#overskrift2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    line-height: 10px;
    opacity: 60%;
}
#overskrift3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    line-height: 20px;
    line-height: 10px;
    opacity: 60%;
}
#overskrift4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    line-height: 10px;
    opacity: 60%;
}
