#ocean {
    width: 30%;
    position: absolute;
    left: 661px;
    top:302px;
    
}

#background {
    background-color: white;
}
#tekst {
    color: black;
}
#button-change-color {
   background-color: white;
   background: linear-gradient(to bottom right, #2ba335, #174386);  
   cursor:crosshair; 
   margin-top: 378px;
   margin-left: 875px;
}
#overskrift1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: greenyellow;
    font-size: 50px;
}
#overskrift2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
#overskrift3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
#overskrift4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}