#moon1 {
    width: 30%;
    height: auto;
    position: absolute;
    left: 30%;
    top: 54%;
    transform: translate(-50%, -50%);
}
#moon2 {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);

}
#moon3 {
    width: 30%;
    height: auto;
    position: absolute;
    left: 70%;
    top: 54%;
    transform: translate(-50%, -50%);
}
#background {
    background-color: black;
}
#tekst {
    color: black;
}
#button-change-color {
   background-color: white;
   background: linear-gradient(to bottom right, #2ba335, #174386);  
   cursor:crosshair;
   position: fixed; 
   bottom: 30px;
   margin-left: 870px;
}
#overskrift1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    line-height: 10px;
}
#overskrift2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    line-height: 10px;
}
#overskrift3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 20px;
    line-height: 10px;
}
#overskrift4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 10px;
}
